$black: #000;
$white: #fff;
$dark-blue: #2c4058;
$gray: #4b5562;
$blue:#55b7ff;
$purple: #7e5aff;

$gotham-bold:'Roboto Bold';
$gotham-book: 'Roboto Regular';
$gotham-reg: 'Roboto Regular';

$laptop: 1200px;
$tablet-bp: 990px;
$mobile-bp: 769px;