.header {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3;
   width: 100%;

   &__logo a {
      font-size: 24px;
      color: $white;
      letter-spacing: 4px;
      text-transform: uppercase;
      text-decoration: none;


      @include breakpoint ($tablet-bp){
         font-size: 21px;
         letter-spacing: 2px;
      }

      @include breakpoint ($mobile-bp) {
         font-size: 18px;
         letter-spacing: 2px;
      }
   }

   &__wrapper {
      display: flex;
   }
}

.navbar{
   &__menu-items{
      display: flex;
   }
}


.navbar {
   &__nav-list{
      display: flex;
      text-transform: uppercase;
   }

   &__nav-item{
      padding: 0 20px;
   }
}

.burger-menu {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   background-color: transparent;
   border: none;
   cursor: pointer;
   padding: 0;
 }
 
 .burger-menu__item {
   display: block;
   width: 28px;
   height: 2px;
   background-color: #000;
   margin-bottom: 6px;
   transition: transform 0.2s ease-in-out;
 }
 
 .burger-menu:hover .burger-menu__item {
   transform: scale(1.1);
 }
 
 .burger-menu.is-active .burger-menu__item:nth-child(1) {
   transform: rotate(45deg);
 }
 
 .burger-menu.is-active .burger-menu__item:nth-child(2) {
   opacity: 0;
 }
 
 .burger-menu.is-active .burger-menu__item:nth-child(3) {
   transform: rotate(-45deg);
 }

