.footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 520px;
  display: flex;
  align-items: center;
  color: $white;
  font-family: $gotham-book;

  &__wrapper {
    margin: 0 auto;
    max-width: 850px;
    width: 100%;
  }
  
  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @include breakpoint($tablet-bp) {
      display: flex;
      justify-content: center;
   }

    @include breakpoint($mobile-bp) {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
  }

&__item {
  border: 1px solid $white;
  border-radius: 50%;
  padding: 15px;
  margin-right: 20px;
}

&__holder {
  @include breakpoint($tablet-bp) {
    display: flex;
  justify-content: center;
 }
 

  @include breakpoint($mobile-bp) {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

&__icon {
  color: $white;
  font-size: 18px;
}

&__copy {
  padding-right: 10px;
  border-right: 1px solid $white;
}

&__author {
  padding-left: 10px;
}

&__author-link {
  display: inline;
  color: $white;
}
}

