.about {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('/assets/images/bg-about.jpg');

    &__slide-container{
        width: 100%;
        height: 100%;
    }

    &__slide {
        text-align: center;
    }

    &__title {
        font-size: 60px;
        color: $white;
        margin-bottom: 30px;

        @include breakpoint($tablet-bp) {
            font-size: 40px;
        }

        @include breakpoint($mobile-bp) {
            margin-bottom: 20px;
        }
    }

    &__text {
        font-family: $font-reg;
        margin-bottom: 30px;
        font-size: 18px;
        color: white;


        @include breakpoint($mobile-bp) {
            margin-bottom: 20px;
        }
    }

    .swiper-container{
        display: flex;
        align-items: center;
    }

    &__scroll-holder {
        max-width: 24px;
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        transition: all .2s linear;
    }
    }