.contacts {
  display: flex;
  align-items: center;
  position: relative;

  &__block {
    margin: 0 auto;
    padding: 56px 35px 0;
    min-height: 455px;
    max-width: 770px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/images/bg-form.jpg');
    color: $dark-blue;
    position: absolute; 
    left: 0; 
    right: 0; 
    top:-320px;
    margin-left: auto; 
    margin-right: auto; 
  
    @include breakpoint($mobile-bp) {
      padding: 20px;
    }
  }
  
  &__title {
    font-size: 44px;
    color: $dark-blue;
    text-align: center;
  }
  
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0;
  
    @include breakpoint($tablet-bp) {
      display: flex;
      justify-content: center;
    }
  
    @include breakpoint($mobile-bp) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-bottom: 10px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 50%;
    @include breakpoint($tablet-bp) {
      display: flex;
      justify-content: center;

    }
  
    @include breakpoint($mobile-bp) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-bottom: 10px;
      width: 100%;
    }
  }
  
  &__item {
    margin-bottom: 38px;
    font-size: 18px;
  }
  
  &__form-label {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d5d9de;
    font-size: 18px;
    padding: 20px 0 5px 5px;
    color: $dark-blue;
    background-color: transparent;
    margin-bottom: 30px;
  
      &:focus {
        border-bottom: 1px solid #2c4058;
      }
  
      &::placeholder {
          color: #d5d9de;
      }
  }
  
    &__btn {
    width: 140px;
    margin-left: auto;
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid $dark-blue;
    color: $dark-blue;
    padding: 19px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  
    &:hover {
      cursor: pointer;
      opacity: 0.8;
      color: $blue;
    }
  }
}




