.gallery {
  padding: 100px 0 120px;
  text-align: center;
  
  @include breakpoint($tablet-bp) {
      padding: 75px 0 90px;
  }
  
  @include breakpoint($mobile-bp) {
      padding: 50px 0 60px;
  }
  
  &__title-holder {
      max-width: 580px;
      text-align: center;
      margin: 0 auto 45px;
  }
  
  &__title {
      font-size: 44px;
      font-weight: 700;
      color: $dark-blue;
      margin-bottom: 30px;
      font-family: $font-bold;
  
      @include breakpoint($mobile-bp) {
          font-size: 60px;
          margin-bottom: 15px;
      }
  }
  
  &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;
  }
  
  &__item {
      padding: 0 10px;
      margin-bottom: 30px;
  
      @include breakpoint($mobile-bp) {
          margin-bottom: 15px;
      }
  
      &_big {
          width: calc(100% - (100% / 2));
          height: 450px;
  
          @include breakpoint($tablet-bp) {
              width: 75%;
              height: 400px;
          }
  
          @include breakpoint($mobile-bp) {
              max-height: 230px;
          }
      }
  
      &_small {
        width: calc(100% - (100% / 2));
        height: 212px;
        max-width: 100%;
        padding: 0 5px ;
        margin: 0;
  
          @include breakpoint($tablet-bp) {
              height: 180px;
              width: 50%;
              padding: 0 10px ;
          }
  
          @include breakpoint($mobile-bp) {
              height: 230px;
              width: 75%;
              padding: 0 10px 10px;
          }
      }
  }
  
  &__item-holder {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      padding: 0 10px;
  
      @include breakpoint($tablet-bp) {
          flex-direction: row;
          justify-content: center;
          width: 75%;
          padding: 0;
          margin: 0 -15px;
      }
  
      @include breakpoint($mobile-bp) {
          flex-direction: column;
          align-items: center;
          width: 100%;
      }
  }
  
  &__link {
      height: 100%;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      transition: box-shadow .2s linear;
  }
}