.social-links{
   color: $white;
   font-size: 30px;
   display: flex;
   justify-content: center;
   margin: 30px 0;

   li {
      margin: 0 10px;
      border: 2px solid $white;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      position: relative;
      transition: .3s;
   }

   span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: .3s;
   }

   li:hover {
      background-color: $purple;
   }

   li:hover span,
   span:hover {
      transform: translate(-50%, -50%) scale(1.3);
   }
}